DATABASE_URL="file:./dev.db"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="champion2026"
WHATSAPP_API_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_VERIFY_TOKEN="champion_webhook_verify_2026"

# ZAI SDK (for VLM till slip validation)
ZAI_BASE_URL="https://internal-api.z.ai/v1"
ZAI_API_KEY="Z.ai"
ZAI_TOKEN=""
ZAI_USER_ID=""
ZAI_CHAT_ID=""
